In [2]:
# ! pip install tensorflow
# ! pip install keras_visualizer

Collecting keras_visualizer
  Downloading keras_visualizer-2.4-py3-none-any.whl (5.4 kB)
Installing collected packages: keras_visualizer
Successfully installed keras_visualizer-2.4

In [1]:
## Import Utility Packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

## Make np printouts easier to read
np.set_printoptions(precision = 3, suppress = True)

## Import Neural Network Packages
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from keras_visualizer import visualizer

2022-12-16 08:44:28.891098: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
## Reads a single .csv file
data = pd.read_csv('/Users/johnathan/Desktop/Sports !!!/Basketball/Data/KenPom/kp2022Dec12.csv')

## Remove season because it is all 2023 season data
## Remove ranks to minimize bias
clean = data.drop(columns = ['Season', 'RankTempo', 'RankAdjTempo', 'RankOE', 'RankAdjOE', 'RankDE', 'RankAdjDE', 'RankAdjEM'])
#clean

In [13]:
y = clean.AdjEM
X = clean.drop(columns = ['AdjEM'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 50)

In [14]:
#X_train = np.asarray(X_train)
X_train

,TeamName,Tempo,AdjTempo,OE,AdjOE,DE,AdjDE
25,Boston College,66.7081,67.5868,94.7706,99.5596,101.4730,99.1109
90,Florida St.,69.7784,71.1567,95.2746,103.0450,103.8710,100.7150
253,Saint Peter's,65.4328,65.5994,96.7031,96.1208,104.6750,104.7150
182,Montana St.,68.8200,68.1567,101.1560,103.0740,100.0000,101.9010
177,Mississippi Valley St.,65.6150,64.6105,81.9512,87.7712,117.3020,112.6830
...,...,...,...,...,...,...,...
70,Detroit Mercy,67.5381,68.7281,106.8790,108.1460,113.7950,110.8670
132,Kansas,71.0899,69.3033,110.5320,114.1190,91.2104,89.5658
289,Syracuse,67.9917,65.8487,105.1450,107.6600,98.5429,97.8243
109,Hawaii,64.3439,65.2166,106.5640,101.9800,93.8090,100.0280
176,Mississippi St.,64.5528,64.3024,108.6220,107.4710,77.2368,87.5442

In [12]:
## Normalized the data
#normalizer = tf.keras.layers.Normalization(axis = -1)
#normalizer.adapt(np.array(X_train))
#print(normalizer.mean.numpy())

#first = np.array(X_train[:1])

#with np.printoptions(precision = 2, suppress = True):
#    print('First Example:', first)
#    print('Normalized:', normalizer(first).numpy())

AttributeError: 'Normalization' object has no attribute 'mean'

In [22]:
## Define Explanatory Variables
explain_vars = np.array(X_train.drop(columns = ['TeamName']))

explain_norm = layers.Normalization(input_shape = [1, ], axis = None)
explain_norm.adapt(explain_vars)

In [23]:
## Build Keras Sequential Model
efficiency_model = tf.keras.Sequential([
    explain_norm,
    layers.Dense(units = 1)
])

efficiency_model.summary()
efficiency_model.predict(explain_vars[:10])

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 normalization_6 (Normalizat  (None, 1)                3
 ion)

 dense (Dense)               (None, 1)                 2

=================================================================
Total params: 5
Trainable params: 2
Non-trainable params: 3
_________________________________________________________________
WARNING:tensorflow:Model was constructed with shape (None, 1) for input KerasTensor(type_spec=TensorSpec(shape=(None, 1), dtype=tf.float32, name='normalization_6_input'), name='normalization_6_input', description="created by layer 'normalization_6_input'"), but it was called on an input with incompatible shape (None, 6).

ValueError: in user code:

    File "/Users/johnathan/opt/anaconda3/lib/python3.9/site-packages/keras/engine/training.py", line 2137, in predict_function  *
        return step_function(self, iterator)
    File "/Users/johnathan/opt/anaconda3/lib/python3.9/site-packages/keras/engine/training.py", line 2123, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "/Users/johnathan/opt/anaconda3/lib/python3.9/site-packages/keras/engine/training.py", line 2111, in run_step  **
        outputs = model.predict_step(data)
    File "/Users/johnathan/opt/anaconda3/lib/python3.9/site-packages/keras/engine/training.py", line 2079, in predict_step
        return self(x, training=False)
    File "/Users/johnathan/opt/anaconda3/lib/python3.9/site-packages/keras/utils/traceback_utils.py", line 70, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "/Users/johnathan/opt/anaconda3/lib/python3.9/site-packages/keras/engine/input_spec.py", line 277, in assert_input_compatibility
        raise ValueError(

    ValueError: Exception encountered when calling layer 'sequential' (type Sequential).

    Input 0 of layer "dense" is incompatible with the layer: expected axis -1 of input shape to have value 1, but received input with shape (None, 6)

    Call arguments received by layer 'sequential' (type Sequential):
      • inputs=tf.Tensor(shape=(None, 6), dtype=float32)
      • training=False
      • mask=None

In [19]:
clean

,TeamName,Tempo,AdjTempo,OE,AdjOE,DE,AdjDE,AdjEM
0,Abilene Christian,70.4234,69.2132,99.0696,101.2680,105.0810,102.1260,-0.857579
1,Air Force,63.8997,63.8115,108.3680,99.7834,93.9231,100.9940,-1.210920
2,Akron,64.8786,63.2448,100.6200,104.6470,102.3160,100.7360,3.911140
3,Alabama,72.0810,72.7103,108.9310,113.4720,89.5698,89.6694,23.802300
4,Alabama A&M,75.5729,72.3568,96.4936,91.7716,106.3710,105.6800,-13.908800
...,...,...,...,...,...,...,...,...
358,Wright St.,73.0697,72.4618,99.6236,100.0480,99.4882,103.5910,-3.543320
359,Wyoming,66.4776,64.7826,108.4300,108.6080,104.1540,103.5280,5.079750
360,Xavier,73.5788,72.4188,113.6140,115.1890,100.8290,97.3447,17.843900
361,Yale,65.1682,65.6522,106.9380,104.5740,89.5747,96.0641,8.510040
362,Youngstown St.,70.2842,70.9388,112.8680,107.9060,104.1260,106.7130,1.192570

In [4]:
#checking to see if this does anything for github
input_chase = input()

print(input_chase)

chase
chase