In [2]:
# ! pip install tensorflow
# ! pip install keras_visualizer

Collecting keras_visualizer
  Downloading keras_visualizer-2.4-py3-none-any.whl (5.4 kB)
Installing collected packages: keras_visualizer
Successfully installed keras_visualizer-2.4

In [3]:
## Import Utility Packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

## Make np printouts easier to read
np.set_printoptions(precision = 3, suppress = True)

## Import Neural Network Packages
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from keras_visualizer import visualizer

In [4]:
## Reads a single .csv file
data = pd.read_csv('/Users/johnathan/Desktop/Sports !!!/Basketball/Data/KenPom/kp2022Dec12.csv')

## Remove season because it is all 2023 season data
## Remove ranks to minimize bias
clean = data.drop(columns = ['Season', 'RankTempo', 'RankAdjTempo', 'RankOE', 'RankAdjOE', 'RankDE', 'RankAdjDE', 'RankAdjEM'])
#clean

In [5]:
y = clean.AdjEM
X = clean.drop(columns = ['AdjEM'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 50)

In [9]:
## Normalized the data
#normalizer = tf.keras.layers.Normalization(axis = -1)
#normalizer.adapt(np.array(X_train))
#print(normalizer.mean.numpy())

#first = np.array(X_train[:1])

#with np.printoptions(precision = 2, suppress = True):
#    print('First Example:', first)
#    print('Normalized:', normalizer(first).numpy())

In [11]:
clean

,TeamName,Tempo,AdjTempo,OE,AdjOE,DE,AdjDE,AdjEM
0,Abilene Christian,70.4234,69.2132,99.0696,101.2680,105.0810,102.1260,-0.857579
1,Air Force,63.8997,63.8115,108.3680,99.7834,93.9231,100.9940,-1.210920
2,Akron,64.8786,63.2448,100.6200,104.6470,102.3160,100.7360,3.911140
3,Alabama,72.0810,72.7103,108.9310,113.4720,89.5698,89.6694,23.802300
4,Alabama A&M,75.5729,72.3568,96.4936,91.7716,106.3710,105.6800,-13.908800
...,...,...,...,...,...,...,...,...
358,Wright St.,73.0697,72.4618,99.6236,100.0480,99.4882,103.5910,-3.543320
359,Wyoming,66.4776,64.7826,108.4300,108.6080,104.1540,103.5280,5.079750
360,Xavier,73.5788,72.4188,113.6140,115.1890,100.8290,97.3447,17.843900
361,Yale,65.1682,65.6522,106.9380,104.5740,89.5747,96.0641,8.510040
362,Youngstown St.,70.2842,70.9388,112.8680,107.9060,104.1260,106.7130,1.192570